@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.container {
  font-family: Montserrat;
  color: white;
}

.header {
  position: relative;
  overflow: hidden;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  flex-wrap: wrap;
}

.contactInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 80px;
  justify-content: center;
  text-decoration: underline;
  margin-left: 30px;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.contactEmail, .phone {
  color: white;
  transition: color 0.3s ease-in, transform 0.3s ease-in;
}

.phone:hover {
  color: rgb(71, 150, 79);
}
.contactEmail:hover {
  color: rgb(71, 150, 79);
}

.contactInfo span {
  margin-right: 15px;
}

.socialLinks {
  margin-right: 30px;
}

.socialLinks a {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.socialLinks img {
  width: 24px; /* or any size that fits your design */
  height: 24px;
  transition: opacity 0.3s ease;
  margin-left: 10px;
}

.socialLinks a:hover img {
  opacity: 0.7; /* slight transparency on hover for interactive effect */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: nowrap;
  position: relative;
  background: linear-gradient(0deg, rgba(176, 215, 132, 0.8) 0%, rgba(167, 207, 121, 0.8) 26%, rgba(171, 206, 130, 0.8) 63%, rgba(176, 221, 124, 0.8) 80%, rgba(199, 239, 153, 0.6) 100%);

}

.logoContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: auto; /* Align logo to the left */
}

.logoContainer p {
  margin: 0;
  font-size: 12px;
  color: #0d3307;
}

.burger {
  display: none; /* Hidden by default */
  position: absolute;
  top: 55px; /* Adjusted to align vertically within the navbar */
  right: 10px; /* Right-aligned with some spacing */
  z-index: 1000; /* Ensures it stays on top of other elements */
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  overflow: auto;
}


.burgerLine {
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(97, 95, 95);
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjust the gap between links */
  align-items: center;
}

.navLink {
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease-in, transform 0.3s ease-in, border-bottom 0.3s ease-in;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 15px; /* Add padding for better spacing */
  position: relative; /* For border effects */
  font-weight: 800;
}

.navLink:hover {
  color: #417901;
  border-bottom: 2px solid #417901;

}


.quote {
  margin-right: 20px;
  background-color: #66c000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.quote:hover {
  transform: scale(1.05);
  background-color: #417901;
}

.quoteDesktop {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  margin-left: auto; /* Align quote button to the right */
}

.heroSection {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroContent {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: -80px;
}

.heroTitle {
  font-size: 54px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  margin: 0;
  margin-bottom: 30px;
}

.heroInfo {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  font-size: 24px;
  margin: 10px 0;
  margin-bottom: 50px;
}

.heroButtons a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

.heroButtons a:hover {
  transform: scale(1.05);
}

.moreInfo {
  background-color: #555;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

.moreInfo:hover {
  background-color: #333;
}

.getQuote {
  background-color: rgb(44, 111, 68);
  letter-spacing: 1px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.getQuote:hover {
  background-color: rgb(61, 159, 96);
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.quoteInMenu {
  display: none;
}

/* Keyframes for Cloud-like Transition */
@keyframes cloudAppear {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .heroContent h2 {
    font-size: 40px;
  }

  .heroContent p {
    font-size: 20px;
  }
}

@media (max-width: 992px) {

  .navbar {
    flex-direction: column;
    gap: 25px;
  }

  .topBar {
    flex-direction: row;
    gap: 10px
  }
  .contactInfo {
    margin: 0;
  }

  .contactAddress {
    display: none;
  }

  .quoteDesktop {
    display: none;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    overflow: hidden;
  }

  .navOpen {
    padding: 0px;
    padding-bottom: 10px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 1;
    animation: cloudAppear 0.5s ease-in-out;
  }

  .navLinks li {
    margin: 10px 0;
  }

  .heroContent h2 {
    font-size: 36px;
  }

  .heroContent p {
    font-size: 18px;
  }

  .burger {
    display: flex;
  }

  .quote {
    margin-top: 30px;
    margin-right: 0;
  }

  .logoContainer {
    margin: auto;
    justify-content: center;
  }

  .quoteInMenu {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
  .burger {
    display: flex; /* Show burger icon in mobile view */
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    overflow: hidden;
  }

  .navOpen {
    padding: 0px;
    padding-bottom: 10px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 1;
    animation: cloudAppear 0.5s ease-in-out;
  }

  .navLinks li {
    margin: 10px 0;
  }

  .quote {
    margin-top: 30px;
  }

  .quoteInMenu {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .topBar {
    flex-direction: row;
    gap: 10px
  }
  .contactInfo {
    margin-right: 0;
    width: auto;
  }

  .heroContent h2 {
    font-size: 32px;
  }

  .heroContent p {
    font-size: 18px;
  }

  .heroButtons a {
    margin: 5px;
    padding: 8px 15px;
  }

  .contactEmail, .contactAddress {
    display: none;
  }

  .quote {
  }

  .logoContainer {
    margin: auto;
  }

  .quoteInMenu {
    display: block;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .heroContent h2 {
    font-size: 28px;
  }

  .heroContent p {
    font-size: 16px;
    line-height: 1.5;
    width: 90%;
    text-align: center;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroButtons a {
    padding: 14px 14px;
    font-size: 14px;
  }

  .logoContainer {
    margin: auto;
  }

  .quote {
  }

  .quoteInMenu {
    display: block;
    text-align: center;
  }
}
