/* OurWork.module.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.hidden {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.ourWork {
  position: relative;
  padding: 40px 20px;
  background: linear-gradient(
      rgba(1, 77, 1, 0.5), 
      rgba(20, 92, 20, 0.5)
    ),
    url('/stockbackground.jpeg') no-repeat center center; /* Path to your background image */
  background-size: cover; /* Ensures the background image covers the entire component */
  color: white; /* Ensure text is readable on the background */
  text-align: center;
}

.ourWork::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add an overlay to darken the background image */
  z-index: 0;
}

.landingHeader {
  position: relative;
  padding: 40px 20px;
  background-color: #4caf50; /* Example color for the landing header */
  color: white;
  text-align: center;

}


.infoSection {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
  background-color: #3e8e41;
  color: white;
  text-align: center;
  z-index: 2; /* Ensure content is above the overlay */
  position: relative;
}

.infoSection div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoSection h3 {
  margin-bottom: 10px;
}

.infoSection img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.familyImg {
  max-height: 100px;
}

.starsHeader {
  display: inline-block;
  margin-bottom: 10px;
}

.starsImg {
  margin-top: -20px;
  background-color: rgba(245, 249, 145, 0.33);
  width: 50%;
}

.qualityImg {
  max-height: 100px;
}



.upperSection {
  display: flex;
  width: 100%;
  gap: 10%;
  padding: 60px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}

.aboutUsContainer {
  box-shadow: 0px 1px 8px 2px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  line-height: 1.5;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.aboutTitle {
  font-size: 42px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.workTitle {
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 12px;
  padding: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.aboutText {
  font-size: 16px;
  margin-bottom: 15px;
}

.aboutButton {
  border: none;
  border-radius: 25px; /* More rounded corners for a modern look */
  cursor: pointer;
  margin-top: 40px;
  padding: 14px 45px; /* Adjusted padding for better size */
  background: linear-gradient(135deg, rgb(64, 160, 64), rgb(5, 77, 5)); /* Gradient background */
  color: white; /* Ensure text is readable */
  font-size: 16px; /* Adjusted font size for better readability */
  font-weight: bold; /* Bold text for emphasis */
  transition: background 0.5s ease-in, transform 0.3s ease-in, box-shadow 0.3s ease-in; /* Smooth transitions */
  letter-spacing: 1.5px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.aboutButton:hover {
  background: linear-gradient(135deg, rgb(0, 62, 0), rgb(64, 160, 64)); /* Inverted gradient on hover */
  transform: translateY(-3px); /* Slight lift effect on hover */
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

.title {
  color: rgb(0, 0, 0);
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 80px;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 1px;
}

.image {
  border-radius: 12px;
  height: 400px;
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1; /* Ensure content is above the overlay */
}

.carouselContainer {
  width: 50%;
  max-width: 600px;
  margin-bottom: 40px;
}

.testimonialsCarousel {
  max-width: 80%;
  margin-bottom: 40px;
}

.starsImg {
  padding: 0;
}

.testimonials {
  color: black;

  padding: 40px;
  border-radius: 10px;
}

.testimonialsHead {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 80px;
  color: white;
  font-size: 44px;
  font-weight: 800;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.testimonialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

.lowerSection {
  width: 80%;
}

.testimonialBox {
  line-height: 2;
  background: rgba(196, 196, 196, 0.8);
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 50px;
  border-radius: 20px;
  z-index: 1000;
  color:  black;
  box-shadow: 0px 0px 8px 1px rgba(186, 186, 186, 0.9);
}

.testimonialText {
  font-size: 22px;
  font-style: italic;
}

.testimonialName {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}



.infoSection h3 {
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.infoSection img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.familyImg {
  max-height: 115px;
  margin-top: 10px;
}

.starsHeader {
  display: inline-block;
  margin-bottom: 15px;
}

.familyHeader, .qualityHeader {
  margin-bottom: 20px;
}

.starsImg {
  width: 55%;
  margin-top: 30px;
}

.qualityImg {
  margin-top: 5px;
  max-height: 125px;
}

@media (max-width: 1208px) {

  .starsImg {
    width: 55%;
    margin-top: 40px;
  }
  

}

@media (max-width: 1008px) {

  .starsImg {
    width: 55%;
    margin-top: 55px;
  }

  .qualityImg {
    margin-top: 15px;
  }
  

}

@media (max-width: 768px) {
  .upperSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .aboutUsContainer {
    width: 90vw;
  }

  .image {
    border-radius: 12px;
    height: 400px;
    width: 600px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutText {
    font-size: 18px;
    margin-top: 0px;
  }
  .aboutTitle {
    margin-bottom: 35px;
  }
  

  .carousel {
  }

  .carouselContainer {
    width: 90%;
  }

  .aboutUsContainer {
    width: 80%;
    margin-top: -40px;
    margin-bottom: 100px;
  }

  .testimonialsHead {
    margin-top: 80px;
  }

  .infoSection div {
    width: 80%;
    margin-bottom: 20px;
  }

  .qualityImg, .familyImg  {
    width: 40%;
    padding-top: 10px;
  }
  .qualityHeader, .familyHeader {
    margin-bottom: 80px;
  }

  .starsImg {
    width: 80%;
    padding-top: 0px;
  }
  .starsHeader {
    margin-bottom: 80px;
  }
  .infoSection h3 {
    font-size: 18px;
  }

  .lowerSection {
    width: 100%;
  }

  .testimonialContainer {
    width: 100%;
  }
  .contactInfo {
    margin-right: 0;
    width: 20%;
  }
  .socialLinks {
    width: 40%;
  }

  .workTitle {
    width: 100%;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 40px;
  }

}

@media (max-width: 500px) {

  .aboutButton {
    margin-bottom: 25px;
  }

  .workTitle {
    width: 100%;
    padding: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 40px;
  }

  .familyHeader {
    padding-left: 40px;
    margin-bottom: 0px;
    margin-left: 10px;
  }



  .familyImg, .qualityImg {
    width: 60%;
  }

  .familyImg {
    margin-top: 10px;
  }

  .starsImg {
    width: 100%;
    margin-top: 40px;
    padding-top: 0;
    height: 200px;
  }

  .infoSection h3 {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }

  .infoSection div {
    margin: 5px;
  }

  .starsHeader, .familyHeader, .qualityHeader {
    font-weight: 700;
  }

  .qualityHeader, .familyHeader {
    margin-bottom: 20px;
  }

  .aboutUsContainer {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    line-height: 1.5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .upperSection {
    padding: 0;
  }

  .ourWork {
    
  }

  .landingHeader {
    position: relative;
    padding: 40px 20px;
    background-color: #4caf50; /* Example color for the landing header */
    color: white;
    text-align: center;
  }

  .infoSection {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0;
    background-color: #3e8e41;
    color: white;
    text-align: center;
    z-index: 2; /* Ensure content is above the overlay */
    position: relative;
  }

}